/* styles.css */

QPushButton#captureButton {
    background-color: #fbbf16;
    color: #FFFFFF;
    font: bold 16px;
    border-radius: 10px;
    border-color: #fbbf16;
}

QPushButton#captureButton:hover {
    background-color: #9e780e;
}

QPushButton#detectButton {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(0, 133, 63, 255), stop:0.909091 rgba(255, 255, 255, 167));
    color: #000000;
    font: bold 16px;
    border-radius: 0px;
    border-color: #FFFFFF;
}

QPushButton#detectButton:hover {
    color: #FFFFFF;
}

QPushButton#imagesButton {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(0, 133, 63, 255), stop:0.909091 rgba(255, 255, 255, 167));
    color: #000000;
    font: bold 16px;
    border-radius: 0px;
    border-color: #FFFFFF;
}

QPushButton#imagesButton:hover {
    color: #FFFFFF;
}

QPushButton#statisticsButton {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(0, 133, 63, 255), stop:0.909091 rgba(255, 255, 255, 167));
    color: #000000;
    font: bold 16px;
    border-radius: 0px;
    border-color: #FFFFFF;
}

QPushButton#statisticsButton:hover {
    color: #FFFFFF;
}

QPushButton#settingsButton {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(0, 133, 63, 255), stop:0.909091 rgba(255, 255, 255, 167));
    color: #000000;
    font: bold 16px;
    border-radius: 0px;
    border-color: #FFFFFF;
}

QPushButton#settingsButton:hover {
    color: #FFFFFF;
}
